[submodule "meta/core"]
	path = meta/core
	branch = bpir1/master
	url = git@github.com:oe-lite-bananapi-r1/core.git
[submodule "meta/base"]
	path = meta/base
	branch = bpir1/master
	url = git@github.com:oe-lite-bananapi-r1/base.git
[submodule "lib/urlgrabber"]
	path = lib/urlgrabber
	url = git@github.com:oe-lite/urlgrabber.git
